<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{userName}}, seja bem vindo ao {{appDisplayName}}</title>
  <style>
    input[type=button],
    input[type=submit],
    input[type=reset] {
      background-color: #1F88E5;
      border-radius: 10px;
      border: none;
      color: white;
      padding: 10px 32px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
    }

    .card {
      border-width: 1px;
      border-style: solid;
      border-color: #E0E0E0;
      border-radius: 3px;
      padding: 16px;
      max-width: 512px;
      margin-left: auto;
      margin-right: auto;
    }

    .title {
      color: #202124;
      width: 100%;
    }

    .img {
      max-width: 490px;
    }

    ul {
      color: #202124;
    }
  </style>
</head>

<body>
  <div class="card">
    <img src="{{logoUrl}}" class="img">
    <div class="title">
      <h2> {{userName}}, seja bem vindo ao {{appDisplayName}}</h2>
    </div>
    <strong>Estamos prontos para atendê-lo no que precisar!</strong>
    <div>    
      <a href="{{link}}">Confirmar</a>
      </ul>
      <br> <br>     
      <br> <br>
      <div style="color: #757575; margin-left: auto;  margin-right: auto; text-align: center;">
        <small>⚡ Email gerado automáticamente, favor no responder ⚡</small> <br>
      </div>
    </div>
</body>

</html>